body {
margin: 0;
font-family: 'Jura', sans-serif;
font-size: 24px;
line-height: 1.2;
color: black;
overflow-x: hidden;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

  h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


.navi{
  position: relative;
  width: auto;
  background: #FFDEAD;
  display: flex;
  height: 40px;
  text-align: center;
  background: linear-gradient(to bottom left,  black, white);
    border: 1px solid #333;
    border-radius: 10px;
}

.firstblock{
  position: relative;
  width: auto;
  height: auto;
  /*background: linear-gradient(to bottom left,  #242424, #FFFAFA);*/
    
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-image: url("C:/Users/Vudd1/Desktop/WEBrom/img/12.jpg");

}



.main{
  position: relative;
  width: auto;
  display: flex;
  left: 47px;
  top: 50px;
  background: #00BFFF;
  background: linear-gradient(to top,   #fa06a5, #01ff3f);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    
}

.wanttobe{
  position:relative;
  display: flex;
  margin-left: 50px;

}
.actuallyam{
  position:relative;
  display: flex;
  margin-left: 50px;

}



.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
  color: black;
  text-decoration: none;


}
.nav_link:hover {
  color: #fce38a;
}

.info{
position: absolute;
width: auto;
height: 50px;
left: 450px;
top: 100px;
}



  .about{
  position: relative;
  width: 1365px;
  height: 400px;
  margin-top: 100px;
  color: white;
  background: rgb(0, 128, 0, 0.5);
  border-radius: 15px;
}

.footer{
  position: relative;
  width: auto;
  display: flex;
  background: #00BFFF;
  background: linear-gradient(to top,  #00FF7F, #E0FFFF);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
}
.text{
  color: white;
  background: rgb(0, 128, 0, 0.5);
  border-radius: 15px;
  margin-right: 700px;
}